#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-icon {
  color: blue
}

.credentials {
  text-decoration: none;
  color: #eee;
  max-width: 3rem;

}

.credentials:hover {
  color: white;
  cursor: pointer;

}